Codigo/Proyecto/Proyecto/Web References/WebServiceUser/ServicioUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioUsuarios" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TEST/ServicioUsuarios?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="BuscarUsers">
    <part name="parameters" element="tns:BuscarUsers" />
  </message>
  <message name="BuscarUsersResponse">
    <part name="parameters" element="tns:BuscarUsersResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="BuscarAmigo">
    <part name="parameters" element="tns:BuscarAmigo" />
  </message>
  <message name="BuscarAmigoResponse">
    <part name="parameters" element="tns:BuscarAmigoResponse" />
  </message>
  <message name="Amigo">
    <part name="parameters" element="tns:Amigo" />
  </message>
  <message name="AmigoResponse">
    <part name="parameters" element="tns:AmigoResponse" />
  </message>
  <message name="Login">
    <part name="parameters" element="tns:Login" />
  </message>
  <message name="LoginResponse">
    <part name="parameters" element="tns:LoginResponse" />
  </message>
  <message name="CrearUsuario">
    <part name="parameters" element="tns:CrearUsuario" />
  </message>
  <message name="CrearUsuarioResponse">
    <part name="parameters" element="tns:CrearUsuarioResponse" />
  </message>
  <portType name="ServicioUsuarios">
    <operation name="BuscarUsers">
      <input wsam:Action="http://servicios/ServicioUsuarios/BuscarUsersRequest" message="tns:BuscarUsers" />
      <output wsam:Action="http://servicios/ServicioUsuarios/BuscarUsersResponse" message="tns:BuscarUsersResponse" />
      <fault wsam:Action="http://servicios/ServicioUsuarios/BuscarUsers/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="BuscarAmigo">
      <input wsam:Action="http://servicios/ServicioUsuarios/BuscarAmigoRequest" message="tns:BuscarAmigo" />
      <output wsam:Action="http://servicios/ServicioUsuarios/BuscarAmigoResponse" message="tns:BuscarAmigoResponse" />
      <fault wsam:Action="http://servicios/ServicioUsuarios/BuscarAmigo/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="Amigo">
      <input wsam:Action="http://servicios/ServicioUsuarios/AmigoRequest" message="tns:Amigo" />
      <output wsam:Action="http://servicios/ServicioUsuarios/AmigoResponse" message="tns:AmigoResponse" />
      <fault wsam:Action="http://servicios/ServicioUsuarios/Amigo/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="Login">
      <input wsam:Action="http://servicios/ServicioUsuarios/LoginRequest" message="tns:Login" />
      <output wsam:Action="http://servicios/ServicioUsuarios/LoginResponse" message="tns:LoginResponse" />
      <fault wsam:Action="http://servicios/ServicioUsuarios/Login/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="CrearUsuario">
      <input wsam:Action="http://servicios/ServicioUsuarios/CrearUsuarioRequest" message="tns:CrearUsuario" />
      <output wsam:Action="http://servicios/ServicioUsuarios/CrearUsuarioResponse" message="tns:CrearUsuarioResponse" />
      <fault wsam:Action="http://servicios/ServicioUsuarios/CrearUsuario/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
  </portType>
  <binding name="ServicioUsuariosPortBinding" type="tns:ServicioUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="BuscarUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="BuscarAmigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="Amigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="Login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="CrearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ServicioUsuarios">
    <port name="ServicioUsuariosPort" binding="tns:ServicioUsuariosPortBinding">
      <soap:address location="http://localhost:8080/TEST/ServicioUsuarios" />
    </port>
  </service>
</definitions>