Codigo/Proyecto/Proyecto/Web References/WebServiceAsoci/ServicioAsociaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioAsociaciones" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TEST/ServicioAsociaciones?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="AgregarAsociacion">
    <part name="parameters" element="tns:AgregarAsociacion" />
  </message>
  <message name="AgregarAsociacionResponse">
    <part name="parameters" element="tns:AgregarAsociacionResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="BuscarAsociaciones">
    <part name="parameters" element="tns:BuscarAsociaciones" />
  </message>
  <message name="BuscarAsociacionesResponse">
    <part name="parameters" element="tns:BuscarAsociacionesResponse" />
  </message>
  <portType name="ServicioAsociaciones">
    <operation name="AgregarAsociacion">
      <input wsam:Action="http://servicios/ServicioAsociaciones/AgregarAsociacionRequest" message="tns:AgregarAsociacion" />
      <output wsam:Action="http://servicios/ServicioAsociaciones/AgregarAsociacionResponse" message="tns:AgregarAsociacionResponse" />
      <fault wsam:Action="http://servicios/ServicioAsociaciones/AgregarAsociacion/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="BuscarAsociaciones">
      <input wsam:Action="http://servicios/ServicioAsociaciones/BuscarAsociacionesRequest" message="tns:BuscarAsociaciones" />
      <output wsam:Action="http://servicios/ServicioAsociaciones/BuscarAsociacionesResponse" message="tns:BuscarAsociacionesResponse" />
      <fault wsam:Action="http://servicios/ServicioAsociaciones/BuscarAsociaciones/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
  </portType>
  <binding name="ServicioAsociacionesPortBinding" type="tns:ServicioAsociaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AgregarAsociacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="BuscarAsociaciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ServicioAsociaciones">
    <port name="ServicioAsociacionesPort" binding="tns:ServicioAsociacionesPortBinding">
      <soap:address location="http://localhost:8080/TEST/ServicioAsociaciones" />
    </port>
  </service>
</definitions>