Codigo/Proyecto/Proyecto/Web References/WebServiceAsoci/ServicioAsociaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarAsociacion" type="tns:AgregarAsociacion" />
  <xs:element name="AgregarAsociacionResponse" type="tns:AgregarAsociacionResponse" />
  <xs:element name="BuscarAsociaciones" type="tns:BuscarAsociaciones" />
  <xs:element name="BuscarAsociacionesResponse" type="tns:BuscarAsociacionesResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="BuscarAsociaciones">
    <xs:sequence>
      <xs:element name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarAsociacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:asociacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asociacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="asociacion" type="xs:string" />
      <xs:element minOccurs="0" name="admin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="AgregarAsociacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="asociacion" type="xs:string" />
      <xs:element name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarAsociacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>