Codigo/Proyecto/Proyecto/Web References/WebServiceHabil/ServicioHabilidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgrearHabilidad" type="tns:AgrearHabilidad" />
  <xs:element name="AgrearHabilidadResponse" type="tns:AgrearHabilidadResponse" />
  <xs:element name="BuscarHabilidades" type="tns:BuscarHabilidades" />
  <xs:element name="BuscarHabilidadesResponse" type="tns:BuscarHabilidadesResponse" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:complexType name="BuscarHabilidades">
    <xs:sequence>
      <xs:element name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarHabilidadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:habilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="habilidad">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="habilidad" type="xs:string" />
      <xs:element name="karma" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="AgrearHabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="habilidad" type="xs:string" />
      <xs:element name="karma" type="xs:int" />
      <xs:element name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgrearHabilidadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>