Codigo/Proyecto/Proyecto/Web References/WebServiceHabil/ServicioHabilidades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioHabilidades" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TEST/ServicioHabilidades?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="BuscarHabilidades">
    <part name="parameters" element="tns:BuscarHabilidades" />
  </message>
  <message name="BuscarHabilidadesResponse">
    <part name="parameters" element="tns:BuscarHabilidadesResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="AgrearHabilidad">
    <part name="parameters" element="tns:AgrearHabilidad" />
  </message>
  <message name="AgrearHabilidadResponse">
    <part name="parameters" element="tns:AgrearHabilidadResponse" />
  </message>
  <portType name="ServicioHabilidades">
    <operation name="BuscarHabilidades">
      <input wsam:Action="http://servicios/ServicioHabilidades/BuscarHabilidadesRequest" message="tns:BuscarHabilidades" />
      <output wsam:Action="http://servicios/ServicioHabilidades/BuscarHabilidadesResponse" message="tns:BuscarHabilidadesResponse" />
      <fault wsam:Action="http://servicios/ServicioHabilidades/BuscarHabilidades/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="AgrearHabilidad">
      <input wsam:Action="http://servicios/ServicioHabilidades/AgrearHabilidadRequest" message="tns:AgrearHabilidad" />
      <output wsam:Action="http://servicios/ServicioHabilidades/AgrearHabilidadResponse" message="tns:AgrearHabilidadResponse" />
      <fault wsam:Action="http://servicios/ServicioHabilidades/AgrearHabilidad/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
  </portType>
  <binding name="ServicioHabilidadesPortBinding" type="tns:ServicioHabilidades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="BuscarHabilidades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="AgrearHabilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ServicioHabilidades">
    <port name="ServicioHabilidadesPort" binding="tns:ServicioHabilidadesPortBinding">
      <soap:address location="http://localhost:8080/TEST/ServicioHabilidades" />
    </port>
  </service>
</definitions>